<%- layout("/layouts/boilerplate.ejs") %>


<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Calander</title>
  <style>
    .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.form {
  margin: 0 200px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px 30px;
} span {
  color: red;
  margin-left: 20px;
}

input[type=email],
input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45a049;
}
  </style>
</head>
<body>
  <div class="form">
    <form action="http://localhost:3000/" method="POST">
      <a class="button" target="_blank" rel="noopener noreferrer" href="https://accounts.google.com/o/oauth2/v2/auth?access_type=offline&scope=https://www.googleapis.com/auth/calendar.readonly&response_type=code&client_id=784601805006-3m0ams37s1bc7p46f9e8k0ed2rutrbv4.apps.googleusercontent.com&redirect_uri=urn:ietf:wg:oauth:2.0:oob">Sign In</a>
       <span>You need to Sign In first</span><br><br>
      <label for="token">Paste the copied token here</label>
      <input name="token" type="text" placeholder="must be like this Jw65AJg05xiOGmkCld...">
      <input type="submit" value="Get my events"></input>
    </form>
    <hr>
    <form action="http://localhost:3000/events" method="POST">
      <label for="attendee email">Attendee email</label>
      <input type="email" name="to" placeholder="send email to...">
      <label for="event title">Event Title</label>
      <input type="text" name="summary" placeholder="the title of event...">
      <label for="body">Event body</label>
      <input type="text" name="description" placeholder="the message body...">
      <input type="submit" value="Send Event Invite">
    </form>
  </div>
</body>
</html>